/* Establece el color de fondo */
body {
    background-color: antiquewhite;
}

/* Estilos para la barra */
.barra {
    background-color: #333;
    overflow: hidden;
    text-align: right;
    padding: 10px; /* Añade un espacio alrededor del contenedor */
}

/* Estilos para la imagen de perfil */
.foto-perfil {
    width: 50px; /* Ajusta el ancho de la imagen según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 50%; /* Hace que la imagen sea circular */
    float: left;
}

/* Estilos para presentar mi nombre */
.informacion {
    width: auto;
    height: 10px;
    float: center;
    color: #ddd;
}

/* Estilos para la barra de navegación */
.barra-navegacion {
    display: inline-block; /* Evita que la barra de navegación ocupe todo el ancho */
    margin-left: 500px; /*especifica el margen para iniciar la barra de navegacion con sus opciones*/
}

/* Estilos para los enlaces dentro de la barra de navegación */
.barra-navegacion a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Cambia el color del texto al pasar el mouse sobre los enlaces */
.barra-navegacion a:hover {
    background-color: #ddd;
    color: black;
}


/* Sección "Sobre Mí" */
#sobre_mi {
    border: 4px solid #333; /* Añade un borde negro de 2 píxeles alrededor del elemento */
}

/*Cambia el tipo de letra y alineacion*/
#sobre_mi_title {
    font-family: "Homer Simpson UI";
    text-align: center;
    color: #333;
}

#descripcion {
    color: #333;
    overflow: hidden; /* Para manejar el float */
}

/* centra el id desc*/
#desc {
    margin-left: 0px;
    text-align: center;
}

/* da estilo a la fotoretrato de quien soy*/
#fotoretrato {
    margin-left: 100px;/*margen aplicado para centrar mas la imagen*/
    float: left; /*manda a la izquierda a la imagen*/
    margin-right: 20px;/*margen aplicado*/
    border: 2px solid #333; /* Añade un borde negro de 2 píxeles alrededor del elemento */
    border-radius: 50%; /* Hace circular la imagen */
    overflow: hidden; /* Oculta las esquinas redondeadas adicionales */
}

/* manda en un 30% a la derecha el id quien_soy*/
#quien_soy {
    color: black;
    margin-left: 30%;
    text-align: justify;
}

#metas{
    margin-left: 30%;

}

.listas {
    margin-left: 30%; /*separa de la izquierda a derecha en un 30% de la pantalla*/
    text-align: left;
}


/* Sección "Portafolio" */
#portafolio {
    display: flex; /* Utiliza un contenedor flexible */
    border: 4px solid #333; /* Añade un borde negro de 2 píxeles alrededor del elemento */
    padding: 20px; /* Añade un espacio interno alrededor del contenido */
    justify-content: space-between; /* Distribuye los elementos flexibles de manera que haya espacio entre ellos */
    align-items: center; /* Centra verticalmente los elementos flexibles */
}
/*Asigna distintos estilos visuales */

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.language {
    font-weight: bold;
    color: #008080;
}



#tecnologias_utilizadas {
    width: 45%; /* Ancho del div #tecnologias_utilizadas */
}

#tecno {
    width: 45%; /* Ancho del div #tecno */
}

#tecno img {
    width: 80%; /* Asegura que la imagen se ajuste al ancho del contenedor #tecno */
}



/* Sección "Contacto" */
#contacto {
    float: left;
    text-align: center;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    border: 4px solid #333; /* Añade un borde negro de 2 píxeles alrededor del elemento */
}

/*Aplica distintos estilos para visualizacion */
#contacto h2 {
    color: white;
}

#contacto p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
}

#contacto a {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#contacto a img {
    display: block;
    margin: 0 auto;
}

#contacto a:hover {
    background-color: #ddd;
}

#ws {
    color: aliceblue;
    line-height: 65%;
}


/*Crea y permite a un boton estar siempre en la pantalla*/
/*Se aplican estilos correspondientes a los colores del sitio web*/

#volver-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Al colocar el cursor sobre el boton, cambiara de color*/
#volver-btn:hover {
    background-color: #ddd;
    color: black;
}
